header{
    position: relative;
    width: 300px;
    height: auto;
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 70%;

}


section{
    
    text-align: center;
    float: left;
    width: 70%;
}

footer{
    text-align: center;
    float: left;
    width: 70%;
    margin-top: 25px;
}

aside{
    width: 30%;
    height: 700px;
    position: absolute;
    top: 10px;
    right: 0;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin: 50px;
  
}

 button {
    margin: 25px;
    height: 55px;
    width: 150px;
    border-radius: 10px; 
  }

h4{
    font-family: sans-serif;
    color: grey;
    font-size: 15px;
    }
    

 ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    max-width: 100%;
   }
li{
    filter:grayscale(1);
    
}
li:hover{
    filter: none;
}



#logos{
    width: 27px;
    height:auto;
    padding:5px;
}

span{
    color: transparent;
    position: relative;
    display: block;
    line-height: 1em;
    left: 10px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    
}
span:hover{
    color:black;
}



.quotes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 5px;

}

.download{
    padding: 8px 8px 8px 55px;
    background: url('./images/cloud.png');
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgb(185, 177, 56);
    box-shadow: dimgrey 0 9px 18px 0;
}
 
.download:hover{
    background-color: rgb(162, 223, 41);
    box-shadow: dimgrey 0 18px 36px 0;

}


.top{
    font-family: sans-serif;
    color: grey;
    position: relative;
    justify-content: center;   
}

.links{
    font-size: 20px;
    position: relative;
    display: block;
    color:rgb(187, 163, 26);
}
.links:hover{
    color: goldenrod;
}

#logo{
    position:relative;
    top: 10px;
    width: 75px;
    height: auto;
    margin: 10px;
}

#num1{
    font-size: 20px;
    margin: 15px;
    padding:10px
} 
#num2{
    font-size: 20px;
    margin: 15px;
    padding:10px
}  
.notifications{
    position: relative;
    top: 15px;
    right: 7px;
} 
.messa{
    height: 100px;
    width: auto;
   
}


#not1{
    position: absolute;
    top: 100px;
    height: 300px;
    width: auto;
    opacity: 0.75;
   
   
}
#not2{
   position: absolute;
   top: 200px;
   height: 300px;
   width: auto;
}
#not3{
    position:absolute;
    top: 300px;
    height: 300px;
    width: auto;
}
#not4{
    position: absolute;
    top: 400px;
    height: 300px;
    width: auto;
    opacity: 0.75;
}
   